@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .blue {
    --background: 226.2 100% 100%;
    --foreground: 226.2 5% 10%;
    --card: 226.2 50% 100%;
    --card-foreground: 226.2 5% 15%;
    --popover: 226.2 100% 100%;
    --popover-foreground: 226.2 100% 10%;
    --primary: 226.2 57% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226.2 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 188.2 30% 95%;
    --muted-foreground: 226.2 5% 40%;
    --accent: 188.2 30% 90%;
    --accent-foreground: 226.2 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 226.2 5% 100%;
    --border: 226.2 30% 82%;
    --input: 226.2 30% 50%;
    --ring: 226.2 57% 21%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark.blue {
    --background: 226.2 50% 10%;
    --foreground: 226.2 5% 100%;
    --card: 226.2 50% 10%;
    --card-foreground: 226.2 5% 100%;
    --popover: 226.2 50% 5%;
    --popover-foreground: 226.2 5% 100%;
    --primary: 226.2 57% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226.2 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 188.2 30% 25%;
    --muted-foreground: 226.2 5% 65%;
    --accent: 188.2 30% 25%;
    --accent-foreground: 226.2 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 226.2 5% 100%;
    --border: 226.2 30% 50%;
    --input: 226.2 30% 50%;
    --ring: 226.2 57% 21%;
    --radius: 0.5rem;
  }

  .green {
    --background: 87.6 100% 100%;
    --foreground: 87.6 5% 10%;
    --card: 87.6 50% 100%;
    --card-foreground: 87.6 5% 15%;
    --popover: 87.6 100% 100%;
    --popover-foreground: 87.6 100% 10%;
    --primary: 87.6 61.2% 20.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 87.6 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 49.599999999999994 30% 95%;
    --muted-foreground: 87.6 5% 40%;
    --accent: 49.599999999999994 30% 90%;
    --accent-foreground: 87.6 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 87.6 5% 100%;
    --border: 87.6 30% 82%;
    --input: 87.6 30% 50%;
    --ring: 87.6 61.2% 20.2%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark.green {
    --background: 87.6 50% 10%;
    --foreground: 87.6 5% 100%;
    --card: 87.6 50% 10%;
    --card-foreground: 87.6 5% 100%;
    --popover: 87.6 50% 5%;
    --popover-foreground: 87.6 5% 100%;
    --primary: 87.6 61.2% 20.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 87.6 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 49.599999999999994 30% 25%;
    --muted-foreground: 87.6 5% 65%;
    --accent: 49.599999999999994 30% 25%;
    --accent-foreground: 87.6 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 87.6 5% 100%;
    --border: 87.6 30% 50%;
    --input: 87.6 30% 50%;
    --ring: 87.6 61.2% 20.2%;
    --radius: 0.5rem;
  }

  .violet {
    --background: 273.6 100% 100%;
    --foreground: 273.6 5% 10%;
    --card: 273.6 50% 100%;
    --card-foreground: 273.6 5% 15%;
    --popover: 273.6 100% 100%;
    --popover-foreground: 273.6 100% 10%;
    --primary: 273.6 65.6% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 273.6 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 235.60000000000002 30% 95%;
    --muted-foreground: 273.6 5% 40%;
    --accent: 235.60000000000002 30% 90%;
    --accent-foreground: 273.6 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 273.6 5% 100%;
    --border: 273.6 30% 82%;
    --input: 273.6 30% 50%;
    --ring: 273.6 65.6% 32%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark.violet {
    --background: 273.6 50% 10%;
    --foreground: 273.6 5% 100%;
    --card: 273.6 50% 10%;
    --card-foreground: 273.6 5% 100%;
    --popover: 273.6 50% 5%;
    --popover-foreground: 273.6 5% 100%;
    --primary: 273.6 65.6% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 273.6 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 235.60000000000002 30% 25%;
    --muted-foreground: 273.6 5% 65%;
    --accent: 235.60000000000002 30% 25%;
    --accent-foreground: 273.6 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 273.6 5% 100%;
    --border: 273.6 30% 50%;
    --input: 273.6 30% 50%;
    --ring: 273.6 65.6% 32%;
    --radius: 0.5rem;
  }

  .white {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .bg-gradient {
    background: var(--gradient);
  }

  .gradient {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #1fa2ff, #12d8fa, #a6ffcb);

    --background: 218 65% 4.48%;
    --foreground: 218 10% 97.8%;

    --muted: 218 46% 16.8%;
    --muted-foreground: 218 10% 55.6%;

    --popover: 218 45% 7.280000000000001%;
    --popover-foreground: 218 10% 97.8%;

    --card: 218 45% 7.280000000000001%;
    --card-foreground: 218 10% 97.8%;

    --border: 218 46% 16.8%;
    --input: 218 46% 16.8%;

    --primary: 218 100% 56%;
    --primary-foreground: 218 10% 5.6000000000000005%;

    --secondary: 218 46% 16.8%;
    --secondary-foreground: 218 10% 97.8%;

    --accent: 218 46% 16.8%;
    --accent-foreground: 218 10% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 218 10% 97.8%;

    --ring: 218 100% 56%;
  }

  .gradient-2 {
    --gradient: linear-gradient(to top left, #673ab7, #512da8);

    --background: 278 33.800000000000004% 3.76%;
    --foreground: 278 5.2% 97.35%;

    --muted: 278 26% 14.1%;
    --muted-foreground: 278 5.2% 54.7%;

    --popover: 278 54.6% 6.109999999999999%;
    --popover-foreground: 278 5.2% 97.35%;

    --card: 278 54.6% 6.109999999999999%;
    --card-foreground: 278 5.2% 97.35%;

    --border: 278 26% 14.1%;
    --input: 278 26% 14.1%;

    --primary: 278 52% 47%;
    --primary-foreground: 278 5.2% 4.699999999999999%;

    --secondary: 278 26% 14.1%;
    --secondary-foreground: 278 5.2% 97.35%;

    --accent: 278 26% 14.1%;
    --accent-foreground: 278 5.2% 97.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 278 5.2% 97.35%;

    --ring: 278 52% 47%;
  }
  .violet-gradient {
    --gradient: linear-gradient(
      to top left,
      #0c0c6d,
      #de512b,
      #98d0c1,
      #5bb226,
      #023c0d
    );
    --background: 255 99% 98.48%;
    --foreground: 255 8% 0.96%;

    --muted: 255 8% 92.4%;
    --muted-foreground: 255 4% 42.4%;

    --popover: 255 26% 92.4%;
    --popover-foreground: 255 8% 1.2%;

    --card: 255 26% 92.4%;
    --card-foreground: 255 8% 1.2%;

    --border: 255 13% 89.96%;
    --input: 255 13% 89.96%;

    --primary: 255 80% 24%;
    --primary-foreground: 255 1.6% 92.4%;

    --secondary: 255 4% 96.2%;
    --secondary-foreground: 255 5.800000000000001% 12.4%;

    --accent: 255 4% 96.2%;
    --accent-foreground: 255 5.800000000000001% 12.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 255 80% 24%;

    --radius: 0.5rem;
  }
  .zinc {
    --gradient: linear-gradient(
      to top left,
      #ada996,
      #f2f2f2,
      #dbdbdb,
      #eaeaea
    );

    --background: 53 7.8% 5.12%;
    --foreground: 53 1.2% 98.2%;

    --muted: 53 6% 19.2%;
    --muted-foreground: 53 1.2% 56.4%;

    --popover: 53 62.6% 8.32%;
    --popover-foreground: 53 1.2% 98.2%;

    --card: 53 62.6% 8.32%;
    --card-foreground: 53 1.2% 98.2%;

    --border: 53 6% 19.2%;
    --input: 53 6% 19.2%;

    --primary: 53 12% 64%;
    --primary-foreground: 53 1.2% 6.4%;

    --secondary: 53 6% 19.2%;
    --secondary-foreground: 53 1.2% 98.2%;

    --accent: 53 6% 19.2%;
    --accent-foreground: 53 1.2% 98.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 53 1.2% 98.2%;

    --ring: 53 12% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

/* For WebKit browsers (Chrome, Safari) */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 6px;
} */
